<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="signupPage">
        <div class="card">
            <img src="/images/atlus.jpg" alt="App Logo">
            <h3 class="mb-3">Sign Up</h3>
            <form action="/signup" method="POST">
                <input type="text" name="username" class="form-control" placeholder="Username" required>
                <input type="password" name="password" class="form-control" placeholder="Password" required>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
            <div class="small mt-3">
                <span>Sudah punya akun? <a href="/login">Login disini</a></span>
            </div>
        </div>
    </div>
</body>

</html>